# Examples of using the FreeSASA class in sbmlcore #

Overall workflow:
1. Provide an initial mutation dataframe
2. Load the FreeSASA class, specifying the relevant pdb file and a dictionary of offsets (if required) to bring the resids in the pdb inline with those in the mutation dataframe. Offsets must be a dictionary of the form {segid: int}. The offsets will be the same as those used for the StructuralFeatures class.

In [176]:
import sbmlcore, pandas, numpy, pytest
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Example 1: PncA ##
This example requires no offsets.

First, load FreeSASA class, specifying the correct pdb file and no offsets.

In [177]:
file = sbmlcore.FreeSASA('tests/3pl1.pdb')

offsets = None, are you sure?

In [178]:
b = {'segid': ['A', 'A', 'A'], 'mutation': ['M1D','R2K', 'A3V']}
df = pandas.DataFrame(b)
df

  segid mutation
0     A      M1D
1     A      R2K
2     A      A3V

Now calculate the surface accessible surface areas for each residue and attach to the mutation dataframe.

In [179]:
sasa_df = file.add_feature(df)
sasa_df

,segid,mutation,resid,resname_1,chain_offsets,resname_3,pdb_resid,SASA
id,,,,,,,,
A1,A,M1D,1,M,0,MET,1,96.204428
A2,A,R2K,2,R,0,ARG,2,57.391769
A3,A,A3V,3,A,0,ALA,3,0.000000

## Example 2: RNAP ##
This example requires offsets to bring the resids from the mutation in line with the pdb file. 
A 'pdb_resid' column is given so that you can check the that you have specified the offsets correctly such that the 
entries in this column are the same as in the pdb file. For a further check, if you use the StructuralFeatures class, 
the offsets should be the same for both classes.

In [180]:
file = sbmlcore.FreeSASA('tests/5uh6.pdb', offsets = {'A': 0, 'B': 0, 'C': -6}) #
b = {'segid': ['A', 'A', 'A', 'B', 'C', 'C'], 'mutation': ['I3D','S4K', 'Q5V', 'R6D', 'S450F', 'D435F']}
df = pandas.DataFrame(b)
df

  segid mutation
0     A      I3D
1     A      S4K
2     A      Q5V
3     B      R6D
4     C    S450F
5     C    D435F

In [181]:
sasa_df = file.add_feature(df)
sasa_df

,segid,mutation,resid,resname_1,chain_offsets,resname_3,pdb_resid,SASA
id,,,,,,,,
A3,A,I3D,3,I,0,ILE,3,50.869281
A4,A,S4K,4,S,0,SER,4,61.119937
A5,A,Q5V,5,Q,0,GLN,5,123.631715
B6,B,R6D,6,R,0,ARG,6,112.768052
C450,C,S450F,450,S,-6,SER,456,8.757060
C435,C,D435F,435,D,-6,ASP,441,15.857350