In [90]:
import sbmlcore, pandas, numpy, pytest
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Create/load in an initial dataframe of mutations 
N.B. These mutations must be named using residues that actually exist in the wild-type!

In [91]:
file = sbmlcore.FreeSASA('tests/3pl1.pdb')

In [92]:
b = {'segid': ['A', 'A', 'A'], 'mutation': ['M1D','R2K', 'A3V']}
df = pandas.DataFrame.from_dict(b)
df

  segid mutation
0     A      M1D
1     A      R2K
2     A      A3V

Now calculate the surface accessible surface areas for each residue and attach to the mutation dataframe.

In [93]:
a = sbmlcore.FreeSASA('tests/3pl1.pdb')

In [94]:
df = a.add_feature(df)

In [95]:
df

   segid mutation  resid  surface_area
id
A1     A      M1D      1     96.204428
A2     A      R2K      2     57.391769
A3     A      A3V      3      0.000000