## How to use StructuralFeatures class on RNAP structure ##

In [9]:
import sbmlcore, pandas
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

Create/load in an initial dataframe of mutations 
N.B. These mutations must be named using residues that actually exists in the wild-type 
and numbered according to your later specified resid offsets!

In [10]:
b = {'segid': ['A', 'A', 'A', 'B', 'C', 'C'], 'mutation': ['I3D','S4K', 'Q5V', 'R6D', 'S450F', 'D435F']} #N.B. Mutation must include offset
df = pandas.DataFrame.from_dict(b)
df

  segid mutation
0     A      I3D
1     A      S4K
2     A      Q5V
3     B      R6D
4     C    S450F
5     C    D435F

Use the StructuralDistances class to load in the file (first argument), <br/>
identify the groups of atoms you care about (second argument, uses MDAnalysis syntax) - distances will be calculated from the centre of mass of this whole selection, <br/>
name the resulting column of distances to each Ca in the structure (third argument, string of your choice), <br/>
define any offsets for the different chains (fourth argument, must be a dictionary of the form {'segid': int, ...}). <br/>
N.B. Distances are from the centre of mass of the specified atom selection to each C-alpha.

In [4]:
a = sbmlcore.StructuralDistances('tests/5uh6.pdb','resname ZN', 'Zn_distance', offsets = {'A': 0, 'B': 0, 'C': -6})

Now add your feature of interest to the existing mutation dataframe

In [5]:
df = a.add_feature(df)
df

  segid mutation  Zn_distance
0     A      I3D    89.118035
1     A      S4K    90.249681
2     A      Q5V    89.621451
3     B      R6D    61.392973
4     C    S450F    48.693866
5     C    D435F    48.628675

N.B. There are TWO ZN atoms in RNAP. To specify each individually use:

In [7]:
a = sbmlcore.StructuralDistances('tests/5uh6.pdb','index 26082', 'Zn1_distance', offsets = {'A': 0, 'B': 0, 'C': -6})
df = a.add_feature(df)
df

  segid mutation  Zn_distance  Zn1_distance
0     A      I3D    89.118035     78.048700
1     A      S4K    90.249681     80.462392
2     A      Q5V    89.621451     81.153935
3     B      R6D    61.392973     66.699269
4     C    S450F    48.693866     58.280002
5     C    D435F    48.628675     61.736525

In [8]:
a = sbmlcore.StructuralDistances('tests/5uh6.pdb','index 26083', 'Zn2_distance', offsets = {'A': 0, 'B': 0, 'C': -6})
df = a.add_feature(df)
df

  segid mutation  Zn_distance  Zn1_distance  Zn2_distance
0     A      I3D    89.118035     78.048700    109.942803
1     A      S4K    90.249681     80.462392    110.049008
2     A      Q5V    89.621451     81.153935    108.503540
3     B      R6D    61.392973     66.699269     73.378286
4     C    S450F    48.693866     58.280002     60.337364
5     C    D435F    48.628675     61.736525     56.683942

In [105]:
rfp = sbmlcore.StructuralDistances('tests/5uh6.pdb','resname RFP', 'RFP_distance', offsets = {'A': 0, 'B': 0, 'C': -6})

In [106]:
df = rfp.add_feature(df)
df

  segid mutation  Zn_distance  RFP_distance
0     A      I3D    89.118035     76.681586
1     A      S4K    90.249681     76.972108
2     A      Q5V    89.621451     76.589376
3     B      R6D    61.392973     55.914038
4     C    S450F    48.693866      9.880496
5     C    D435F    48.628675      9.263286