In [54]:
import sbmlcore, pandas
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [55]:
b = {'segid': ['A', 'A', 'A', 'B', 'C', 'C'], 'mutation': ['I3D','S4K', 'Q5V', 'R6D', 'S450F', 'D435F']} #N.B. Mutation must include offset
df = pandas.DataFrame.from_dict(b)
df

  segid mutation
0     A      I3D
1     A      S4K
2     A      Q5V
3     B      R6D
4     C    S450F
5     C    D435F

In [67]:
a = sbmlcore.StructuralDistances('tests/5uh6.pdb','resname ZN', 'Zn_distance', offsets = {'A': 0, 'B': 0, 'C': -6})

{'F', 'A', 'C', 'G', 'B', 'D', 'E', 'H', 'I'}

In [48]:
df = a.add_feature(df)
df

  segid mutation  Zn_distance
0     A      I3D    89.118035
1     A      S4K    90.249681
2     A      Q5V    89.621451
3     B      R6D    61.392973
4     C    S450F    48.693866
5     C    D435F    48.628675

In [53]:
a = sbmlcore.StructuralDistances('tests/5uh6.pdb','resname RFP', 'RFP_distance', offsets = {'A': 0, 'B': 0, 'C': -6})

In [50]:
df = a.add_feature(df)
df

  segid mutation  Zn_distance  RFP_distance
0     A      I3D    89.118035     76.681586
1     A      S4K    90.249681     76.972108
2     A      Q5V    89.621451     76.589376
3     B      R6D    61.392973     55.914038
4     C    S450F    48.693866      9.880496
5     C    D435F    48.628675      9.263286