# Notebook for testing and playing with TrajectoryDistances

In [1]:
import sbmlcore
import pandas as pd

In [ ]:
b = {'segid': ['A', 'A', 'A', 'B', 'C', 'C'], 'mutation': ['I3D','S4K', 'Q5V', 'R6D', 'S450F', 'D435F']} #N.B. Mutation must include offset
df = pd.DataFrame.from_dict(b)
df.columns

In [2]:
a = sbmlcore.TrajectoryDistances(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
            "./tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "resname RFP",
        "max RFP",
        distance_type="max",
        offsets = {'A': 0, 'B': 0, 'C': -6},
        percentile_exclusion=True,
    )
a.return_dist_df()

frames: [0, 1, 2, 3, 4, 5]
frames: [0, 1, 2]

     segid  resid    max RFP amino_acid
0        A      3  72.000161          I
1        A      4  71.859083          S
2        A      5  75.431009          Q
3        A      6  74.446025          R
4        A      7  71.537496          P
...    ...    ...        ...        ...
3238     F    524  54.412016          R
3239     F    525  50.833875          D
3240     F    526  50.095013          Y
3241     F    527  49.678343          L
3242     F    528  46.477291          D

[3243 rows x 4 columns]

In [ ]:
df = a.add_feature(df)
df

In [ ]:
t = sbmlcore.TrajectoryDistances(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
            "./tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc",
            "./tests/rpob-5uh6-3-md-3-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "resname RFP",
        "mean RFP",
        distance_type="mean",
        offsets = {'A': 0, 'B': 0, 'C': -6},
        percentile_exclusion=True,
    )
t.return_dist_df()

In [ ]:
df = t.add_feature(df)
df

In [ ]:
df.to_csv('./tests/5uh6_added_traj_distances.csv')

In [ ]:
p = sbmlcore.TrajectoryDistances(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
            "./tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "resname RFP",
        "median RFP",
        distance_type="median",
        offsets = {'A': 0, 'B': 0, 'C': -6},
        percentile_exclusion=True,
    )
df = p.add_feature(df)
df

In [ ]:
p = sbmlcore.TrajectoryDistances(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
            "./tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "resname RFP",
        "min RFP",
        distance_type="min",
        offsets = {'A': 0, 'B': 0, 'C': -6},
        percentile_exclusion=True,
    )
df = p.add_feature(df)
df

In [ ]:
df.to_csv('./tests/5uh6_added_traj_distances.csv')

In [ ]:
import sbmlcore

In [ ]:
a = sbmlcore.TrajectoryDihedrals(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "phi",
        "phi",
        angle_type="mean",

)
a

In [ ]:
a = sbmlcore.TrajectoryDihedrals(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "phi",
        "phi",
        angle_type="max",

)
a

In [ ]:
a = sbmlcore.TrajectoryDihedrals(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "omega",
        "omega",
        angle_type="mean",

)
a.return_angle_df()

In [15]:
import sbmlcore
import numpy as np
from numpy import testing as npt

In [10]:
input = np.array([[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]])
expected_output = np.array([[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]])
output = sbmlcore.TrajectoryDistances._exclude_percentiles(input)

1.7000000000000002 14.299999999999999

In [11]:
npt.assert_array_equal(expected_output, output, verbose=True)

In [13]:
input = np.array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])
expected_output = np.array([[0, 0, 0, 0, 0, 0, 0, 0]])
output = sbmlcore.TrajectoryDihedrals._exclude_percentiles(input)
npt.assert_array_equal(expected_output, output, verbose=True)

In [ ]:
a = sbmlcore.TrajectoryDihedrals(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "omega",
        "omega",
        angle_type="max",
        add_bonds=True,
        offsets = {'A': 0, 'B': 0, 'C': -6},
        percentile_exclusion=True
)
a.return_angle_df()

In [2]:
import pandas as pd
b = {'segid': ['A', 'A', 'A', 'B', 'C', 'C'], 'mutation': ['I3D','S4K', 'Q5V', 'R6D', 'S450F', 'D435F']} #N.B. Mutation must include offset
df = pd.DataFrame.from_dict(b)
df.columns

Index(['segid', 'mutation'], dtype='object')

In [ ]:
df = a.add_feature(df)

In [ ]:
df

In [ ]:

a = sbmlcore.TrajectoryDihedrals(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "phi",
        "mean_phi",
        angle_type="mean",
        add_bonds=True,
        offsets = {'A': 0, 'B': 0, 'C': -6},
        percentile_exclusion=True
)
a.return_angle_df()

In [3]:
a = sbmlcore.TrajectoryDihedrals(
        "./tests/rpob-5uh6-3-warm.gro.gz",
        [
            "./tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
            "./tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc",
            "./tests/rpob-5uh6-3-md-3-50ns-dt10ns-nojump.xtc",
        ],
        "./tests/5uh6.pdb",
        "psi",
        "mean_psi",
        angle_type="mean",
        add_bonds=True,
        offsets = {'A': 0, 'B': 0, 'C': -6},
        percentile_exclusion=True
)
a.return_angle_df()

     segid  resid    mean_psi amino_acid
0        A      3  129.122716          I
1        A      4  142.420616          S
2        A      5    6.811578          Q
3        A      6  151.231070          R
4        A      7  154.188473          P
...    ...    ...         ...        ...
3238     F    524  -29.667966          R
3239     F    525  -12.762533          D
3240     F    526  -11.782550          Y
3241     F    527   44.139849          L
3242     F    528  -17.936739          D

[3243 rows x 4 columns]

In [4]:
df = a.add_feature(df)

In [5]:
df

  segid  resid mutation    mean_psi
0     A      3      I3D  129.122716
1     A      4      S4K  142.420616
2     A      5      Q5V    6.811578
3     B      6      R6D  128.101059
4     C    450    S450F  153.389332
5     C    435    D435F  115.020766

In [17]:
import MDAnalysis

In [19]:
u = MDAnalysis.Universe('tests/rpob-5uh6-3-warm.gro.gz','tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc')

In [20]:
coordinates = (MDAnalysis.analysis.base.AnalysisFromFunction(
            lambda ag: ag.positions.copy(), u.atoms
        )
        .run()
        .results
     )

In [21]:
coordinates

{'timeseries': array([[[ 32.16      ,  69.990005  ,  72.14      ],
        [ 31.710003  ,  69.200005  ,  71.71001   ],
        [ 33.14      ,  70.060005  ,  71.920006  ],
        ...,
        [196.74002   ,  94.630005  ,  21.43      ],
        [197.20001   , 127.030014  ,  87.40001   ],
        [198.07      , 144.73001   ,  95.48      ]],

       [[ 35.820004  ,  71.69      ,  69.770004  ],
        [ 34.95      ,  71.18001   ,  69.79001   ],
        [ 36.63      ,  71.19      ,  69.41      ],
        ...,
        [193.52002   ,  60.990005  ,  70.66      ],
        [ 48.83      ,  31.43      ,  60.010002  ],
        [ 30.400002  , 100.17      , 117.600006  ]],

       [[ 37.510002  ,  72.200005  ,  78.9       ],
        [ 38.07      ,  72.04001   ,  78.07      ],
        [ 38.030003  ,  72.840004  ,  79.490005  ],
        ...,
        [154.53001   ,  73.22      ,   8.37      ],
        [  8.31      ,  70.9       ,   0.52      ],
        [108.12      , 117.44      ,   3.5800002 ]],

       [[ 35.980003  ,  72.36001   ,  72.22      ],
        [ 36.640003  ,  71.98      ,  71.57001   ],
        [ 36.63      ,  72.67      ,  72.93      ],
        ...,
        [179.87001   , 108.83      ,  86.990005  ],
        [ 10.35      , 135.8       ,  21.310001  ],
        [ 34.82      ,   9.9800005 ,  98.41      ]],

       [[ 34.780003  ,  67.54      ,  75.4       ],
        [ 34.02      ,  66.880005  ,  75.31      ],
        [ 35.56      ,  67.07      ,  74.96001   ],
        ...,
        [162.87001   ,  76.11001   ,  30.370003  ],
        [ 64.41      ,  17.84      ,   0.45000002],
        [ 46.070004  , 123.09001   ,  30.150002  ]],

       [[ 36.600002  ,  69.04      ,  71.270004  ],
        [ 37.22      ,  68.3       ,  70.990005  ],
        [ 36.68      ,  68.850006  ,  72.26      ],
        ...,
        [194.97002   ,  69.3       ,  12.66      ],
        [163.84001   ,  77.47      ,  75.520004  ],
        [ 85.03      ,  90.82001   ,  98.01001   ]]], dtype=float32), 'frames': array([0, 1, 2, 3, 4, 5]), 'times': array([    0., 10000., 20000., 30000., 40000., 50000.])}

In [22]:
dt = u.trajectory[1].time - u.trajectory[0].time

uz = sbmlcore.TrajectoryDihedrals._filter_frames(
    'tests/rpob-5uh6-3-warm.gro.gz',
    u,
    'start',
    20000,
    dt
)

In [23]:
uz

In [24]:
coordinates = (MDAnalysis.analysis.base.AnalysisFromFunction(
            lambda ag: ag.positions.copy(), uz.atoms
        )
        .run()
        .results
     )

In [56]:
df = pandas.DataFrame.from_dict(coordinates.timeseries[0])

In [59]:
df.to_csv('tests/test_start_coordinates_frame0.csv')

In [26]:
dt = u.trajectory[1].time - u.trajectory[0].time

uy = sbmlcore.TrajectoryDihedrals._filter_frames(
    'tests/rpob-5uh6-3-warm.gro.gz',
    u,
    'end',
    30000,
    dt
)

In [27]:
coordinates = (MDAnalysis.analysis.base.AnalysisFromFunction(
            lambda ag: ag.positions.copy(), uy.atoms
        )
        .run()
        .results
     )

In [28]:
coordinates.to_csv()

{'timeseries': array([[[ 32.16     ,  69.990005 ,  72.14     ],
        [ 31.710003 ,  69.200005 ,  71.71001  ],
        [ 33.14     ,  70.060005 ,  71.920006 ],
        ...,
        [196.74002  ,  94.630005 ,  21.43     ],
        [197.20001  , 127.030014 ,  87.40001  ],
        [198.07     , 144.73001  ,  95.48     ]],

       [[ 35.820004 ,  71.69     ,  69.770004 ],
        [ 34.95     ,  71.18001  ,  69.79001  ],
        [ 36.63     ,  71.19     ,  69.41     ],
        ...,
        [193.52002  ,  60.990005 ,  70.66     ],
        [ 48.83     ,  31.43     ,  60.010002 ],
        [ 30.400002 , 100.17     , 117.600006 ]],

       [[ 37.510002 ,  72.200005 ,  78.9      ],
        [ 38.07     ,  72.04001  ,  78.07     ],
        [ 38.030003 ,  72.840004 ,  79.490005 ],
        ...,
        [154.53001  ,  73.22     ,   8.37     ],
        [  8.31     ,  70.9      ,   0.52     ],
        [108.12     , 117.44     ,   3.5800002]]], dtype=float32), 'frames': array([0, 1, 2]), 'times': array([    0., 10000., 20000.])}

In [45]:
import pandas
df = pandas.DataFrame.from_dict(coordinates.timeseries[2])

In [60]:
len(coordinates.timeseries)

3

In [47]:
coordinates.timeseries.shape

(3, 396776, 3)

In [64]:
df = pandas.read_csv('tests/test_start_coordinates_frame0.csv', index_col=0)

In [65]:
df

                 0           1           2
0        32.160000   69.990005   72.140000
1        31.710003   69.200005   71.710010
2        33.140000   70.060005   71.920006
3        32.070004   69.860010   73.140000
4        31.510002   71.170000   71.530010
...            ...         ...         ...
396771    1.280000   77.370000   22.740002
396772  196.990020   99.630005  119.000010
396773  196.740020   94.630005   21.430000
396774  197.200010  127.030014   87.400010
396775  198.070000  144.730010   95.480000

[396776 rows x 3 columns]

In [76]:
u = MDAnalysis.Universe('tests/rpob-5uh6-3-warm.gro.gz','tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc')
a = sbmlcore.TrajectoryDihedrals(
        "tests/rpob-5uh6-3-warm.gro.gz",
        ["tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc"],
        "tests/5uh6.pdb",
        "phi",
        "phi",
)

In [78]:
protein_res = u.select_atoms("protein")
output = a.calculate_dihedrals(u, protein_res)

In [80]:
output

array([[   0.        , -151.23822323,  -64.51229901, ...,  -83.22788545,
        -102.55454468, -121.76174434],
       [   0.        ,  -60.71776329, -128.50734723, ...,  -57.01884257,
        -111.1412427 , -141.48849942],
       [   0.        , -107.18091898, -102.75659101, ...,  -81.8968086 ,
        -111.49977121, -122.74544862],
       [   0.        , -101.54740077,  -91.38323483, ...,  -74.09517636,
         -98.94747099, -153.5874848 ],
       [   0.        ,  -97.29903725,  -83.37468626, ...,  -76.95795224,
         -88.824621  ,  -76.05911572],
       [   0.        ,  -85.70734004,  -87.73925586, ...,  -67.58047774,
         -94.25880243, -109.75704746]])

In [82]:
df = pandas.DataFrame(output)

In [83]:
df

,0,1,2,3,4,5,6,7,8,9,...,3233,3234,3235,3236,3237,3238,3239,3240,3241,3242
0,0.0,-151.238223,-64.512299,-113.577704,-70.107189,-77.659282,-146.372610,-143.859592,-143.227885,-118.818611,...,-116.645882,-69.393580,70.082909,-140.817268,-84.547267,-76.528578,-66.722240,-83.227885,-102.554545,-121.761744
1,0.0,-60.717763,-128.507347,-71.359612,-68.910213,-84.816975,-131.863610,-133.793014,-131.493058,-151.835309,...,-45.364262,-97.703757,56.148632,-60.750352,-94.093880,-64.561886,-59.504043,-57.018843,-111.141243,-141.488499
2,0.0,-107.180919,-102.756591,-132.797246,-84.276058,-66.769939,-121.665850,-148.144450,-144.920262,-127.339602,...,-39.890445,-68.072864,63.707289,-56.664100,-57.934465,-85.791179,-68.369913,-81.896809,-111.499771,-122.745449
3,0.0,-101.547401,-91.383235,-118.700847,-87.884712,-80.745510,-141.418410,-144.279987,-116.035732,-136.165801,...,-58.158551,-76.333741,57.152147,-58.436172,-80.638356,-57.800060,-75.480024,-74.095176,-98.947471,-153.587485
4,0.0,-97.299037,-83.374686,-153.412077,-83.001789,-83.059526,-140.760926,-124.245216,-143.196878,-160.749681,...,-87.520254,-62.603573,68.854686,-72.923559,-67.718178,-59.196685,-74.722858,-76.957952,-88.824621,-76.059116
5,0.0,-85.707340,-87.739256,-148.927488,-51.986569,-74.574792,-128.190456,-107.696773,-138.284379,-164.364016,...,-97.948709,-110.761720,69.492942,-53.112103,-70.002269,-68.269252,-74.964241,-67.580478,-94.258802,-109.757047

In [84]:
df.to_csv('tests/test_dihedrals.csv')

In [1]:
import sbmlcore

In [5]:
a = sbmlcore.TrajectoryDihedrals(
        "tests/rpob-5uh6-3-warm.gro.gz",
        ["tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
         "tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc"],
        "tests/5uh6.pdb",
        "phi",
        "phi",
        angle_type='max',
        offsets={"A": 0, "B": 0, "C": -6},
        percentile_exclusion=True,
        start_time=10000.0,
        end_time=40000.0,
    ).return_angle_df()

In [10]:
import pandas

In [7]:
a.to_csv('tests/5uh6_traj_angles.csv')

In [11]:
a = {
"segid": ["A", "A", "A", "B", "C", "C"],
"mutation": ["I3D", "S4K", "Q5V", "R6D", "S450F", "D435F"],
    }
df = pandas.DataFrame.from_dict(a)
a = sbmlcore.TrajectoryDihedrals( 
        "tests/rpob-5uh6-3-warm.gro.gz",
        ["tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
         "tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc"],
        "tests/5uh6.pdb",
        "psi",
        "max psi",
        angle_type='max',
        offsets={"A": 0, "B": 0, "C": -6},
        percentile_exclusion=True,
        end_time=40000.0,
    )

df = a.add_feature(df)

In [12]:
df

  segid  resid mutation     max psi
0     A      3      I3D  144.512421
1     A      4      S4K  147.142197
2     A      5      Q5V   26.642541
3     B      6      R6D  139.097679
4     C    450    S450F  164.293520
5     C    435    D435F  121.794394

In [13]:
c = sbmlcore.TrajectoryDihedrals(
        "tests/rpob-5uh6-3-warm.gro.gz",
        [
            "tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc",
            "tests/rpob-5uh6-3-md-2-50ns-dt10ns-nojump.xtc",
        ],
        "tests/5uh6.pdb",
        "omega",
        "min omega",
        angle_type="min",
        offsets={"A": 0, "B": 0, "C": -6},
        percentile_exclusion=True,
        end_time=40000.0,
    )

df = c.add_feature(df)

In [14]:
df

  segid  resid mutation     max psi   min omega
0     A      3      I3D  144.512421 -177.314589
1     A      4      S4K  147.142197 -169.461819
2     A      5      Q5V   26.642541 -172.799910
3     B      6      R6D  139.097679 -175.744029
4     C    450    S450F  164.293520  169.355237
5     C    435    D435F  121.794394 -168.869292

In [16]:
df.to_csv('tests/5uh6_added_traj_angles.csv')

In [19]:
import MDAnalysis

In [28]:
u = MDAnalysis.Universe(
        "tests/rpob-5uh6-3-warm.gro.gz", "tests/rpob-5uh6-3-md-1-50ns-dt10ns-nojump.xtc"
    )
dt = u.trajectory[1].time - u.trajectory[0].time
u = sbmlcore.TrajectoryDihedrals._filter_frames(
        "tests/rpob-5uh6-3-warm.gro.gz", u, "start", 20000, dt
    )
test_coordinates = (
    MDAnalysis.analysis.base.AnalysisFromFunction(
            lambda ag: ag.positions.copy(), u.atoms
        )
        .run()
        .results
    )
test_coordinates = pandas.DataFrame.from_dict(test_coordinates.timeseries[0])

In [57]:
test_coordinates.to_csv('tests/test_start_coordinates_frame0.csv')

In [41]:
test_coordinates

                 0           1           2
0        37.510002   72.200005   78.900002
1        38.070000   72.040009   78.070000
2        38.030003   72.840004   79.490005
3        37.380001   71.320007   79.370003
4        36.210003   72.830002   78.510002
...            ...         ...         ...
396771  124.450005   40.000000  101.740005
396772  118.570007   82.860001   34.750000
396773  154.530014   73.220001    8.370000
396774    8.310000   70.900002    0.520000
396775  108.120003  117.440002    3.580000

[396776 rows x 3 columns]

In [52]:
expected_coordinates = pandas.read_csv(
        "tests/test_start_coordinates_frame0.csv", index_col=0
    )

In [53]:
expected_coordinates

                 0           1           2
0        37.510002   72.200005   78.900000
1        38.070000   72.040010   78.070000
2        38.030003   72.840004   79.490005
3        37.380000   71.320010   79.370000
4        36.210003   72.830000   78.510000
...            ...         ...         ...
396771  124.450005   40.000000  101.740005
396772  118.570010   82.860000   34.750000
396773  154.530010   73.220000    8.370000
396774    8.310000   70.900000    0.520000
396775  108.120000  117.440000    3.580000

[396776 rows x 3 columns]

In [54]:
expected_coordinates.rename(columns={'0':0, '1':1, "2":2}, inplace=True)

In [61]:
pandas.testing.assert_frame_equal(test_coordinates, expected_coordinates.astype('float32'))