In [70]:
import sbmlcore, pandas, numpy, pytest
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [61]:
a = {'mutation': ['A1D','E2K']}
df = pandas.DataFrame.from_dict(a)
df

  mutation
0      A1D
1      E2K

In [62]:
a = sbmlcore.AminoAcidVolumeChange()

In [63]:
a.lookup[a.lookup.d_volume==-57.5]

                               d_volume
ref_amino_acid alt_amino_acid
D              K                  -57.5

In [64]:
a.lookup[a.lookup.index == ('E', 'K')]

                               d_volume
ref_amino_acid alt_amino_acid
E              K                  -30.2

In [65]:
df3 = a + df

In [66]:
df3

  mutation  d_volume
0      A1D     -22.5
1      E2K     -30.2

In [75]:
df3.d_volume.values == pytest.approx(numpy.array([-22.5, -30.2]))

True