In [81]:
import sbmlcore, pandas, numpy, pytest
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [82]:
a = {'mutation': ['A1D','E2K']}
df = pandas.DataFrame.from_dict(a)
df

  mutation
0      A1D
1      E2K

In [83]:
a = sbmlcore.AminoAcidVolumeChange()

In [84]:
a.lookup[a.lookup.d_volume==-57.5]

                               d_volume
ref_amino_acid alt_amino_acid
D              K                  -57.5

In [85]:
a.lookup[a.lookup.index == ('E', 'K')]

                               d_volume
ref_amino_acid alt_amino_acid
E              K                  -30.2

In [87]:
df3 = a + df

In [66]:
df3

  mutation  d_volume
0      A1D     -22.5
1      E2K     -30.2

In [88]:
df3.d_volume.values == pytest.approx(numpy.array([-22.5, -30.2]))

True

In [99]:
df3.d_volume.values == pytest.approx(numpy.array([-22.5, -30.2]))

True

In [91]:
df3.d_volume.values

array([-22.5, -30.2])

In [103]:
-22.5000000000001 == -22.5

False