In [1]:
import sbmlcore, pandas, numpy, pytest
#MDAnalysis
%load_ext autoreload
%autoreload 2

In [25]:
a = {'mutation': ['A1D','E2K', 'A90V']}
df = pandas.DataFrame.from_dict(a)
df

  mutation
0      A1D
1      E2K
2     A90V

In [26]:
a = sbmlcore.AminoAcidVolumeChange()
df = a.add_data(df)
df

  mutation  d_volume
0      A1D      22.5
1      E2K      30.2
2     A90V      51.4

In [27]:
b = sbmlcore.AminoAcidHydropathyChangeKyteDoolittle()
df = b.add_data(df)
df

  mutation  d_volume  d_hydropathy_KD
0      A1D      22.5             -5.3
1      E2K      30.2             -0.4
2     A90V      51.4              2.4

In [28]:
b = sbmlcore.AminoAcidHydropathyChangeWimleyWhite()
df = b.add_data(df)
df

  mutation  d_volume  d_hydropathy_KD  d_hydropathy_WW
0      A1D      22.5             -5.3             2.08
1      E2K      30.2             -0.4             0.20
2     A90V      51.4              2.4            -0.86

In [15]:
a = {'mutation': ['A1D', 'E2K']}
df = pandas.DataFrame(a)
df

  mutation
0      A1D
1      E2K

In [23]:
def test_amino_acid_hydropathy_KD_change_value():
    a = {'mutation': ['A1D', 'E2K']}
    df = pandas.DataFrame(a)
    a = sbmlcore.AminoAcidHydropathyChangeKyteDoolittle()
    df =  a.add_data(df)
    assert 'd_hydropathy_KD' in df.columns

In [3]:
import pandas

In [11]:
line_number = 0
with open('tests/3pl1-stride.txt', 'r') as f:
    for i in f:
        cols = i.split('  ')
        line_number+=1
        if cols[1] == '|---Residue---|':
            print(cols)
            break

['REM', '|---Residue---|', '', '|--Structure--|', ' |-Phi-|', ' |-Psi-|', '|-Area-|', '', '', '3PL1\n']

In [12]:
line_number

96

In [23]:
df = pandas.read_fwf('tests/3pl1-stride.txt', skiprows=line_number, names=['aminoacid','chain','num1','num2','S','structure','phi','psi','area','pdb'])

In [24]:
df

    aminoacid chain  num1  num2  S structure     phi     psi   area   pdb
ASG       MET     A     1     1  C      Coil  360.00  -35.20   86.2  3PL1
ASG       ARG     A     2     2  E    Strand -117.94  133.99   54.7  3PL1
ASG       ALA     A     3     3  E    Strand -126.53  153.85    0.0  3PL1
ASG       LEU     A     4     4  E    Strand -103.24  132.40    0.2  3PL1
ASG       ILE     A     5     5  E    Strand -113.70  111.88    0.2  3PL1
..        ...   ...   ...   ... ..       ...     ...     ...    ...   ...
ASG       GLU     A   181   181  E    Strand  -91.73  121.85  105.5  3PL1
ASG       LEU     A   182   182  E    Strand -106.70  110.91   50.6  3PL1
ASG       VAL     A   183   183  E    Strand -134.36  166.85   33.8  3PL1
ASG       CYS     A   184   184  C      Coil  -92.41  154.12   95.4  3PL1
ASG       SER     A   185   185  C      Coil  -73.76  360.00   67.6  3PL1

[185 rows x 10 columns]