In [5]:
import sbmlcore, pandas
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
b = {'segid': ['A', 'A', 'A'], 'mutation': ['M1D','R2K', 'A3V']}
df = pandas.DataFrame.from_dict(b)
df

  segid mutation
0     A      M1D
1     A      R2K
2     A      A3V

In [7]:
a = sbmlcore.StructuralDistances('tests/3pl1.pdb','resname FE2', 'iron_distance')

In [8]:
df = a.add_feature(df)

In [9]:
df

  segid mutation  iron_distance
0     A      M1D      29.948318
1     A      R2K      27.459823
2     A      A3V      24.149025

In [10]:
a = sbmlcore.StructuralDistances('tests/3pl1.pdb','resname HOH', 'water_distance')

In [11]:
df = a.add_feature(df)
df

  segid mutation  iron_distance  water_distance
0     A      M1D      29.948318       19.921422
1     A      R2K      27.459823       17.042517
2     A      A3V      24.149025       13.734851